@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane osobowe";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Na Twoim koncie przechowywane są przekazane nam przez Ciebie Twoje dane osobowe. Ta strona umożliwia Ci pobranie lub usunięcie tych danych.</p>
        <p>
            <strong>Usunięcie Twoich danych trwale usunie także Twoje konto. Operacja jest nieodwracalna.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Pobierz</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
