@model Unite.Models.UserRating

@{
    ViewData["Title"] = "Edycja oceny";
}

<h1>Ocena użytkownika</h1>

<h4>Edycja</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <input type="hidden" asp-for="ReviewerId" />
            <input type="hidden" asp-for="CreatedDate" />
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" min="0" max="5"/>
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
        <form asp-controller="UserRatings" asp-action="Delete" asp-route-id="@Model.UserId" method="post">
            <button type="submit" class="btn btn-danger">
                Usuń
            </button>
        </form>
    </div>
</div>

<div>
    <a asp-action="Profile" asp-controller="Friends" asp-route-id="@Model.UserId">Powrót do profilu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
