
@{
    ViewData["Title"] = "CreateMeet";
}


    <section>
        <nav>
            <section style="text-align:center">
                Szukaj<br><br>
                <input type="text" name="search"><br><br>
                <input type="radio" name="meeting" value="meeting">Spotkań<br>
                <input type="radio" name="friend" value="friend">Znajomych
            </section><br>
            <input type="button" value="Stwórz spotkanie"><br>
            <input type="button" value="Edytuj spotkanie"><br>
            <input type="button" value="Historia spotkań"><br>
        </nav>

        <article>
            <h1 style="text-align: center;">Utwórz spotkanie </h1>
            <p>
                <input type="text" name="name" placeholder="Nazwa spotkania"><br>
                Rozpoczęcie spotkania <input type="date" name="start date" placeholder="Data rozpoczecia">
                <input type="time" name="start time" placeholder="Godzina rozpoczęcia"><br>
                <input type="text" name="place" placeholder="Miejsce spotkania"><br>
                <input type="text" name="description" placeholder="Opis spotkania"><br>

            </p>
        </article>
    </section>

