@{
    ViewData["Title"] = "Home Page";
}
<!--Komentarz-->
<div>
    <div class="mb-2 px-4 smd:mb-6 smd:w-[580px] smd:px-0 gl:w-[888px] xl:w-[1196px]">
        <div class="relative w-full mb-6 mt-5 sm:mt-24 smd:mb-16 gl:mb-24">
            <div class="flex flex-col items-center smd:flex-row">
                <div class="mb-6 flex w-full flex-col space-y-6 smd:mb-0 smd:mr-6 lg:w-7/12">
                    <h1 class="ds-font-title-2 text-3xl font-bold gl:text-[42px] gl:leading-[3.25rem]" data-testid="search-intro-title">Platforma dla ludzi których łączą zainteresowania</h1>
                    <p> Niezaważne jakie są twoje zainteresowania, na Unite znajdziesz znajomych z którymi możesz je dzielić. </p>
                    <div style="buttons">
                        <!----</><a class="inline-block  hover:no-underline text-align:center" data-element-name="Sign up variant2--Body" data-event-label="Sign up variant2--Body" 
                            href="">Dołącz do Unite</a><a href="#">----> 
                        <input type="button" value="Dołącz do Unite" /> lub <input type="button" value="Zaloguj sie" /><br />
                    </div>
                </div>
                        <div class="w-8/12 lg:w-1/2">
                            <img alt="Unite" width="600" height="400" decoding="async" data-nimg="1" style="color:transparent"
                            src="~/pic/SocialGathering.jpg" />
                        </div>
            </div>
        </div>
    </div>
</div>
