
@{
    ViewData["Title"] = "Register";
}

<h1>Zarejestruj sie</h1>
<form>
    Imię: <input type ="text" name="imie"><br>
    Nazwisko: <input type ="text" name="nazwisko"><br>
    Adresemail: <input type ="email" name="email"><br>
    Hasło: <input type ="password" name="haslo"><br>
    Powtórz hasło: <input type ="password" name="haslo"><br>
    <input type ='submit' value="Zarejestuj">
</form>
<div 
    class="w-8/12 lg:w-1/2">
    <img alt="Paint" width="400" height="300" decoding="async" data-nimg="1" style="color:transparent"
         src="~/pic/paint.jpg" />
    <img alt="Paint" width="400" height="300" decoding="async" data-nimg="1" style="color:transparent"
         src="~/pic/dance.jpg" />
    <img alt="Paint" width="400" height="300" decoding="async" data-nimg="1" style="color:transparent"
         src="~/pic/photo.jpg" />
</div>
